---
import Layout from "../layouts/Layout.astro";
import Steps from "../components/Steps.astro";
---

<Layout title="Astro With Zerops.">
  <div class="mx-auto">
    <div class="header text-center mx-auto">
      <span
        class="bg-[#25292E] border border-[#434957] px-4 py-2 text-sm rounded-md"
      >
        Developer-First Platform as a Service
      </span>
      <div class="mt-8">
        <h1 class="text-[#F7E9FF]">
          Deploy your Astro Site <span class="text-gradient block"
            >with Zerops</span
          >
        </h1>
        <p class="mx-auto text-2xl">
          A Node Astro example for Zerops which you can deploy in 2 simple steps
          (Technically, we don't count Ctrl + V... but who's checking?). <span
            class="block"
            >Scroll down to learn how to deploy.
          </span>
        </p>
        <div class="mt-10 space-x-7">
          <a
            href="https://discord.gg/5ptAqtpyvh"
            target="_blank"
            class="primarybutton rounded-full text-xl">Discord Community</a
          >
          <a
            href="https://docs.zerops.io/"
            target="_blank"
            class="secondarybutton rounded-full text-xl">Zerops Docs</a
          >
        </div>
      </div>
    </div>

    <div class="mt-16">
      <hr class="border border-[#202227] my-4 max-w-[80%] mx-auto" />
      <div class="flex flex-col justify-center">
        <h2 class="text-4xl font-semibold text-center py-10">
          Deploy to Zerops with a Single Click
        </h2>
        <a
          class="badge flex justify-center hover:-translate-y-1 hover:duration-300 pb-5"
          href="https://app.zerops.io/recipe/astro"
          target="_blank"
        >
          <img
            width="300px"
            draggable="false"
            src="https://github.com/zeropsio/recipe-shared-assets/blob/main/deploy-button/deploy-button.webp"
            alt="deploy on zerops with one click badge"
          />
        </a>
        <div class="flex justify-center pb-5">
          <svg
            height="100px"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M12 4V20M12 20L8 16M12 20L16 16"
              stroke="#e1d1e9"
              stroke-width="1.3"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
          </svg>
        </div>
        <p class="max-w-lg text-center mx-auto">
          Deploying will import the following structure and use following
          instructions to build and deploy
        </p>
      </div>
      <Steps />
    </div>
    <p class="text-center mt-16">
      Powered by{" "}
      <a href="https://zerops.io" target="_blank"> Zerops </a>
      {" "}-{" "}<a class="underline" target="_blank" href="https://github.com/zeropsio/recipe-astro-nodejs/"
        >Source</a>
    </p>
  </div>

  <style>
    main {
      color: #f7e9ff;
      font-size: 20px;
      line-height: 1.6;
      justify-self: center;
    }
    .astro-a {
      position: absolute;
      top: -32px;
      left: 50%;
      transform: translatex(-50%);
      width: 220px;
      height: auto;
      z-index: -1;
    }
    h1 {
      font-size: 4rem;
      font-weight: 700;
      line-height: 1.3;
      text-align: center;
      margin-bottom: 0.5em;
    }

    h2 {
      font-size: 2.5rem;
      font-weight: 500;
      margin-bottom: 0.5em;
    }
    .text-gradient {
      background-image: linear-gradient(to right, #f7e9ff 0%, #b3a3ff 20%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-size: 400%;
      background-position: 0%;
    }
    .link-card-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
      gap: 2rem;
      padding: 0;
    }

    .primarybutton {
      background-color: #25292e;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      padding-top: 0.75rem;
      padding-bottom: 0.75rem;
      font-weight: 500;
      color: #f7e9ff;
      transition: 0.1s;
    }

    .primarybutton:hover {
      background-color: #22262b;
    }

    .secondarybutton {
      background-color: #989ca1;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      padding-top: 0.75rem;
      padding-bottom: 0.75rem;
      font-weight: 500;
      color: #25292e;
      transition: 0.1s;
    }

    .secondarybutton:hover {
      background-color: #8d939b;
    }
    .header {
      padding: 1rem;
      width: 800px;
      max-width: calc(100% - 2rem);
      color: #f7e9ff;
      font-size: 20px;
      line-height: 1.6;
      justify-self: center;
    }

    /* .header::before {
      position: absolute;
      z-index: -1;
      content: "";
      top: 0%;
      bottom: 10%;
      width: 150%;
      left: -25%;
      background: linear-gradient(83.21deg, #3245ff 0%, #bc52ee 100%);
      -webkit-mask-image: radial-gradient(rgba(0, 0, 0, 0.45), transparent 70%);
      mask-image: radial-gradient(rgba(0, 0, 0, 0.45), transparent 70%);
    } */
  </style>
</Layout>
