---
import { Content as Import } from "./Projectimport.md";
import { Content as Zerops } from "./Zeropsyaml.md";
---

<p>
  <div
    class="steps grid grid-cols-1 md:grid-cols-2 font-light gap-5 pt-4 items-center mx-auto"
  >
    <div class="px-4 md:px-0 flex justify-center flex-col h-full">
      <p class="text-center md:text-end mb-1 cursor-pointer">
        <a
          target="_blank"
          href="https://github.com/zeropsio/recipe-astro-nodejs/blob/main/zerops.yml"
          class="underline">source</a
        >
      </p>
      <Zerops />
    </div>
    <div class="px-4 md:px-0 justify-center max-md:flex max-md:flex-col h-full">
      <p class="text-center md:text-end mb-1 cursor-pointer">
        <a
          target="_blank"
          href="https://github.com/zeropsio/recipe-astro-nodejs/blob/main/zerops-project-import.yml"
          class="underline">source</a
        >
      </p>
      <Import />
    </div>
  </div>
</p>

<style>
  .steps {
    width: 1000px;
    max-width: calc(100% - 2rem);
  }
  .codetext {
    font-size: 0.9rem;
    line-height: 1.65;
  }
</style>
